@model UserChat.Models.ChatViewModel

<h2>Чат поддержки</h2>

<div>
    <h3>Сообщения</h3>
    @foreach (var message in Model.Messages)
    {
        <strong>@message.UserName:</strong> @message.Message <br />
        <small>@message.Data.ToString("g")</small>

        <br />
    }
</div>

<div id="mainQuestions">
    @foreach (var question in Model.MainQuestions)
    {
        <button class="question-button" data-id="@question.Id" data-name="@question.Name">@question.Name</button>
    }
</div>

<!-- Поле для ручного ввода -->
<div>
    <input type="text" id="manualInput" placeholder="Введите ваш вопрос" />
    <button id="submitManualInput">Отправить</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.question-button').click(function () {
            var questionId = $(this).data('id');
            var uid = '@Model.Uid'; // Получаем uid из модели
            var questionName = $(this).data('name'); // Получаем имя вопроса

            // Отладочный вывод для проверки значений
            console.log("Question ID: " + questionId);
            console.log("Question Name: " + questionName);

            $.post('@Url.Action("SelectQuestion", "Chat")',
                {
                    questionId: questionId,
                    uid: uid,
                    questionName: questionName
                },
                function (data) {
                    $('#mainQuestions').html(data); // Обновляем только область с вопросами
                });
        });

        // Обработчик ручного ввода
        $('#submitManualInput').click(function () {
            var userInput = $('#manualInput').val();
            var uid = '@Model.Uid'; // Получаем uid из модели
            if (userInput) {
                $.post('@Url.Action("SendMessage", "Chat")', { uid: uid, message: userInput }, function () {
                    location.reload(); // Перезагружаем страницу, чтобы отобразить новое сообщение
                });
            }
        });
    });
</script>